table {
    border-collapse: collapse;
    margin: 45px 0px;
    /* margin-left: 1px; */
    /* font-size: 0.9em; */
    width: 1150px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: relative;

}
table .table_main tr{
    di
}